 #box{
    height: 200px;
    width: 100px;
    border: 1px solid black;
    margin:5px;
    text-align:left;
    background-color: rgb(43, 226, 192);
}

.content {
    color:red;
}

.newClass{
    background-color: green;
}